node_modules/
model-api-tester
model-api-tester.exe
*.db
*.db-journal
*.db-shm
*.db-wal
.env
dist/
*.log

# Rust
/target/

# Vite build output
/crates/http-server/static/

# Tauri generated
/crates/tauri-app/gen/

# Temp
/.temp/
